@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  background: #fff7ed;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* body * {
  outline: 1px solid magenta;
} */

.vantype {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.vantype:hover {
  color: #ffead0;
}

.vantype:focus {
  outline: none;
}

.vantype.selected {
  color: #ffead0;
}

.vantype.simple:hover,
.vantype.simple.selected {
  background-color: #e17654;
}

.vantype.rugged:hover,
.vantype.rugged.selected {
  background-color: #115e59;
}

.vantype.luxury:hover,
.vantype.luxury.selected {
  background-color: #161616;
}

.vantype.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

.host-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.host-nav a {
  text-decoration: none;
  color: #4d4d4d;
  font-weight: 500;
}

.host-nav a:hover {
  color: #161616;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 600;
}

.navlink-wrapper {
  background-color: #dddddda1;
  padding: 0.5rem;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  width: 100px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

.back-button:hover {
  text-decoration: underline;
}

@media (width >= 640px) {
  .host-nav {
    max-width: 50%;
    margin: 0 auto;
  }
}
