@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: "Inter", sans-serif;
}

body {
  /* background: #fffadc; */
  background: #fff7ed;
  display: flex;
  flex-direction: column;
  background-attachment: fixed;
}

/* body * {
  outline: 1px solid magenta;
} */

/* 
!NOTE: MOST OF THE CSS CODE CAME FROM BOB ZIROLL
*/

.vantype {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.vantype:hover {
  color: #ffead0;
}

.vantype:focus {
  outline: none;
}

.vantype.selected {
  color: #ffead0;
}

.vantype.simple:hover,
.vantype.simple.selected {
  background-color: #e17654;
}

.vantype.rugged:hover,
.vantype.rugged.selected {
  background-color: #115e59;
}

.vantype.luxury:hover,
.vantype.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

.navlink-wrapper {
  /* background-color: #dddddda1; */
  /* background-color: #fff1dd; */
  display: flex;
  justify-content: center;
  /* padding: 0.3rem 0; */
}

.navlink-wrapper a {
  padding: 2px 20px;
  text-decoration: none;
  color: #ab5500;
  font-weight: 500;
}

.navlink-wrapper a:hover {
  color: #804a1c;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: 600;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  width: 100px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #ffead0;
  color: #4d4d4d;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #ffead0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #ffead0;
}

.van-type.simple:hover,
.van-type.simple.selected {
  background-color: #e17654;
}

.van-type.rugged:hover,
.van-type.rugged.selected {
  background-color: #115e59;
}

.van-type.luxury:hover,
.van-type.luxury.selected {
  background-color: #161616;
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4d4d4d;
}

i[class*="van-type-"] {
  padding: 7px 14px;
}

.back-button:hover {
  text-decoration: underline;
}

.not-found-container {
  padding-inline: 26px;
}

.not-found-container .link-button {
  width: 100%;
  background-color: #161616;
  color: white;
}

@media (width >= 640px) {
  .host-nav {
    max-width: 50%;
    margin: 0 auto;
  }
}

.fetch-data {
  font-size: 1.5rem;
  font-weight: 500;
  color: #ab5500;
  padding: 20px 0;
}

.fetch-data.detail {
  padding: 5rem 0;
  font-size: 2rem;
  text-align: center;
  align-self: center;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.loading-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
  background: #804a1c;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
  background: #804a1c;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
  background: #804a1c;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
  background: #804a1c;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 27px;
  height: 70vh;
}

.login-container > h1 {
  padding: 1em 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #ff8c38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}

.login-image {
  display: none;
}

.login-first {
  padding: 15px 0 0 0;
  font-size: 1rem;
  color: #b52a00;
  font-weight: 600;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.host-dashboard-earnings {
  background-color: #ffead0;
  padding: 37px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-earnings > .info > h1 {
  font-size: 36px;
  color: #161616;
  margin: 0;
}

.host-dashboard-earnings > .info > p {
  color: #4d4d4d;
}

.host-dashboard-earnings > .info > p > span {
  text-decoration: underline;
  font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
  margin: 0;
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

.host-dashboard-reviews {
  background-color: #ffddb2;
  padding: 25px 26px;
  display: flex;
  align-items: center;
}

.host-dashboard-reviews > h2 {
  margin: 0;
}

.host-dashboard-reviews .star {
  color: #ff8c38;
  margin-left: 15px;
  font-size: 25px;
}

.host-dashboard-reviews p {
  margin-left: 5px;
  font-size: 20px;
  color: #4d4d4d;
  margin-right: auto;
}

.host-dashboard-reviews p > span {
  font-weight: bold;
  color: #161616;
}

.host-dashboard-vans {
  padding: 38px 26px;
}

.host-dashboard-vans > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-vans .host-vans-list {
  padding-inline: 0;
}

.host-income {
  padding-inline: 26px;
  color: #161616;
}

.host-income > p {
  color: #4d4d4d;
}

.host-income > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income > h2 {
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

img.graph {
  width: 100%;
  max-width: 500px;
}

.host-income .info-header > p {
  color: #4d4d4d;
}

.host-income .info-header > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income .info-header > h3 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 60px;
}

.host-income .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 31px;
  padding: 35px 29px;
  border-radius: 6px;
}
.host-income .transaction > h3 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.host-income .transaction > p {
  font-weight: 500;
  font-size: 20px;
  color: #4d4d4d;
}

.host-reviews {
  padding-inline: 26px;
  color: #161616;
}

.host-reviews .top-text {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  margin-right: 20px;
}

.host-reviews .top-text > p {
  margin: 0;
  color: #4d4d4d;
}

.host-reviews .top-text > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-reviews > img {
  margin-bottom: 36px;
}

.host-reviews .review {
  margin-block: 25px;
}

.host-reviews .review .info {
  display: flex;
}

.host-reviews .review .name {
  color: #161616;
  margin-right: 10px;
  font-weight: 600;
}

.host-reviews .review .date {
  color: #8c8c8c;
}

.host-reviews hr {
  background-color: #c7c7c7;
  height: 1px;
  border: 0;
}

.host-reviews .review-star {
  color: #ff8c38;
  margin-right: 5px;
}

.host-van-single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding: 18px 24px;
}

.host-van-single > img {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}

.host-van-info {
  margin-right: auto;
}

.host-van-info h3 {
  font-size: 20px;
  font-weight: 600;
  margin-block: 10px;
}

.host-van-info p {
  margin-block: 10px;
}

@media (width >= 1024px) {
  .login-section {
    display: flex;
    height: 90vh;
  }

  .login-image {
    width: 60%;
    display: block;
    object-fit: cover;
    object-position: center;
    /* background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background: url("./assets/images/background/login.jpg");
    height: 100%; */
  }

  .login-container {
    width: 40%;
  }
}

@media (width >= 1280px) {
  .login-container h1 {
    font-size: 2.3rem;
  }

  .login-form {
    font-size: 1.2rem;
  }
}

@media (width >= 1536px) {
  .login-section {
    height: 100vh;
  }
}
